<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.EstudianteConnectionString"
            connectionString="Data Source=DESKTOP-BVI966H\SQLEXPRESS;Initial Catalog=Estudiante;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>